/* .code-box-demo .ant-input-number {
  margin-right: 10px;
}
.ant-row-rtl .code-box-demo .ant-input-number {
  margin-right: 0;
  margin-left: 10px;
} */
/* .logo {
  max-width: 100%;
  max-height: 100%;
} */
